<!DOCTYPE html>
<html lang="es">
<body>
<h3>
    <ul>
        {{#songs}}
        <li>
            {{-index}} - {{title}} - <a href="/album/{{album.name}}">{{album.name}}</a> - <a
                href="/artista/{{artist.name}}">{{artist.name}}</a> - {{genre}}
            {{#loggedIn}}
            <form style=display:inline-block; action="/bilbioteca/{{sessionusername}}/cancion/{{title}}/fav">
                <button class="button add_song"><i class="fas fa-heart"></i></button>
            </form>
            <form style=display:inline-block; action="/bilbioteca/{{sessionusername}}/cancion/{{title}}/quitardefav">
                <button class="button add_song"><i class="fas fa-minus-circle"></i></button>
            </form>
            <form style=display:inline-block; action="/playlist/anadir/{{title}}">
                <button class="button add_song_pl"><i class="fas fa-edit"></i> Añadir a playlist</button>
            </form>

            {{/loggedIn}}
        </li>
        {{/songs}}
    </ul>
</h3>
</body>
</html>