<!DOCTYPE html>
<html lang="es">
<body>
<div>
    <h1> Amplify - <i class="fas fa-headphones-alt"></i> <i class="far fa-file-audio"></i></h1>
</div>
<div style="text-align: center;">
    <form style=display:inline-block; action="/inicio">
        <button class="button main_button">
            Inicio <i class="fas fa-home"></i>
        </button>
    </form>
    <form style=display:inline-block; {{#loggedIn}} action="/login">  {{/loggedIn}}  {{^loggedIn}} action="/iniio" {{/loggedIn}}
        <button class="button user_button">
            {{#loggedIn}} Cerrar sesión {{/loggedIn}}  {{^loggedIn}} Login / Registro {{/loggedIn}} <i class="fas fa-user-circle"></i>
        </button>
    </form>
    <form style=display:inline-block; action="/crear-playlist">
        <button class="button user_button">
            Nueva playlist <i class="far fa-file-audio"></i>
        </button>
    </form>
    <form style=display:inline-block;  action="/biblioteca">
        <button class="button user_button">
            Mi biblioteca <i class="fas fa-archive"></i>
        </button>
    </form>
</div>
</body>
</html>